%h1 Src images
%table.table.table-striped
  %tr
    %th Last Updated
    %th Error
    %th URL
  - @errored_src_images.each do |src_image|
    %tr
      %td= src_image.updated_at
      %td= src_image.error
      %td= src_image.url
%h1 Gend Images
%table.table.table-striped
  %tr
    %th Last Updated
    %th Error
  - @errored_gend_images.each do |gend_image|
    %tr
      %td= gend_image.updated_at
      %td= gend_image.error
