!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for?(:title) ? content_for(:title) : 'Meme Captain meme generator'
    %meta{content: "#{content_for(:description)}", name: "description"}/
    = stylesheet_link_tag('application', media: 'all')
    = csrf_meta_tags
    = favicon_link_tag
    = favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png'

    - if @refresh_in
      %meta{content: "#{@refresh_in}", "http-equiv" => "refresh"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
  %body
    %nav.navbar.navbar-inverse.navbar-static-top{role: "navigation"}
      .container
        = link_to image_tag('logo.png', class: 'header img-responsive', size: '460x50'), root_url, class: 'navbar-left'
        %ul.nav.navbar-nav
          - if current_user
            %li
              = link_to my_url do
                = image_tag current_user.avatar_url(20), class: 'avatar', size: '20'
                My images
            %li= link_to "Logout #{current_user.email}", session_path, method: :delete
          - else
            %li= link_to "Login", new_session_path
        = form_tag search_path, method: 'get', class: 'navbar-form navbar-left' do
          .form-group
            = text_field_tag :q, nil, placeholder: 'Search', tabindex: '1', class: 'form-control'
        .navbar-form
          %input#quick-add-url{"data-placement" => "bottom", "data-toggle" => "tooltip", placeholder: "Load URL", tabindex: "2", title: "Images in the clipboard can be loaded by pasting them onto any page", type: "text"}/

    .container
      .row
        - if flash[:error]
          .alert.alert-danger
            = h flash[:error]
        - if flash[:notice]
          .alert.alert-info
            = h flash[:notice]

      = yield

      .footer
        %p
          = link_to '@memecaptain', 'https://twitter.com/memecaptain'
          |

          \#{link_to('API documentation', 'https://github.com/mmb/meme_captain_web/tree/master/doc/api')}

          |

          \#{link_to('Send bug reports and suggestions', 'https://github.com/mmb/meme_captain_web/issues')}

          |

          \#{link_to 'Terms of Service', terms_path}
    = javascript_include_tag "application"
    = render 'application/google_analytics'
    #quick-add-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal-label", role: "dialog", tabindex: "-1"}
      .modal-dialog
        .modal-content
          .modal-body
            %pre#quick-add-url-status.terminal
          .modal-footer
            %button.btn.btn-default{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
